@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
	box-sizing:border-box;
	padding:0px;
	margin:0px;
}
body{
font-family: sans-serif;
	line-height:1.6rem;


}
h1,h2{

}
p{
	margin: 10px 0px;
}
img{
	width:100%;
}
ul{
list-style-type:none;
}
a{
	text-decoration:none;
}
.container{max-width: 1100px;
	margin: auto;
}
.navbar{
	background-color:#047aed;
	height:70px;
	font-family:sans-serif,'lato';
	color:#fff;
}
.logo-n{
	margin: auto 40px;
	display: flex;
align-items:center;}
.list-n a{
	color:#fff;
	padding-bottom:10px;
}
.list-n a:hover{
	border-bottom:2px solid #fff;
}


.flex{
	display:flex;
	justify-content: space-between;
height: 100%
}
.list-n{display:flex;
align-items:center;
margin-right:40px;
}
.list-n li{
	margin:0px 10px;
}
/*home page showcase*/
.showcase{
height: 400px;
background-color: #037aed;
color:#fff;

 

	}
	.flex-s{
	display:flex;
	justify-content: space-between;
	align-items: center;
	}
.showcase h1{
	margin:30px 0px;
	font-size:40px; 
	font-weight:100px;
	font-family:'lato',sans-serif;
}
.showcase p{
	width:600px;
	
}
.showcase-text{
margin:20px;

}
.show-b{
	background:#037aed;
	color:#fff;
font-size:15px;
	border: #fff 1px solid;
	border-radius:5px;
	width:145px;
	margin-top:10px;
	margin-bottom:20px;
	padding:17px;
}
.show-b:hover{

}


.card{
	background-color:#fff;  
	color:#333;
	border-radius:10px; 
	margin-top:90px;
z-index:100;
width:400px;
height:350px;
display:flex;
display:block; 
padding:30px;
justify-content: center;
align-items:center;
margin-right: 20px;
box-shadow:5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card-items{
	margin-bottom:19px; 
}
.card input[type= 'text'] ,
.card input[type= 'email']{ 
font-size: 17px;
margin-bottom:30px; 
	border:none;
	width:100%;
	border-bottom:1px solid lightgrey ; 
   
} 
.card input:focus {
outline:none;
}
.card h1{
	font-size:1.5rem;
}
.card-button{
	position: relative;
	background-color:#037aed;
     color:#fff;
	font-size: 17px;
    bottom: 20px;
	padding:10px 28px; 
	border:none;
	margin-top:10px;
	border-radius:5px;
	cursor: pointer;
}
.card-button:hover{
	transform:sclae(0.5px;);
}

.dgree{ 
	
	background-color:#fff; 
	width:100%;
	height: 100px; 
	margin-top:-40px;
	margin-left: 00px;
	transform:skewY(-5deg); 
}
/*home page status part*/t
.status-part{
background-color:#333;
} 
.grid-status-part{
	height:300px;
	display:grid;
	position:relative;
	top:0px;
	z-index:109;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr;
align-items:center; 
}

.grid-status-part p{
color:#333;
font-size: 19px;
font-weight:bolder;
	width: 500px;
	height: 60px;
	grid-column-start:2;
		grid-column-end:3;
		grid-row-start:1; 
		grid-row-end:2;
}
.grid-status-part h1{
	color:#333;
	font-size:35px;
	font-weight: bolder;
	padding:10px;
	margin-bottom:20px;
}
.grid-status-part h2{
	color:#1c3fa8;
	font-weight:bold;
}
.deployments{
grid-column-start:1; 
		grid-column-end:2;
		grid-row-start:2;
		grid-row-end:3;
		text-align: center;
		margin-left:40px;
}

.published{
grid-column-start:2;
		grid-column-end:3;
		grid-row-start:2;
		grid-row-end:3;
		text-align: center;
}
.projects{
grid-column-start:3;
		grid-column-end:4;
		grid-row-start:2; 
		grid-row-end:3;
		text-align: center;
        margin-right:40px;
}

/*install section*/
.install-grid{
	margin-top:40px;
	display:grid;
grid-template-columns: 2fr 1fr;
grid-template-rows;
}
.install-p-1{
	width:302px;
	height:100px;  
	border-radius:10px; 
	box-shadow: 5px 5px 15px lightgrey;  
	font-size:20px; 
	font-weight: bolder;
align-self: center;

	grid-column-start:2 ;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end:2;
	padding: 20px;
}
.install-p-2{display: flex;
	width:302px;
	height:70px;   
	padding:15px; 
	padding-top: 23px;
	margin-top:50px;
	border-radius:10px; 
	box-shadow: 5px 5px 15px lightgrey;  
align-items:flex-start;
		font-size:20px; 
	font-weight: bolder;
		grid-column-start:2 ;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end:3; 
} 
.install-grid img{
	width: 670px;
	 	grid-column-start:1 ;
	grid-column-end:2;
	grid-row-start: 1;
	grid-row-end:2;
	margin:20px; 
} 
/*cloud-section*/
.cloud-part{
	background-color:#037aed;
	color:#fff;
	display:flex;
	height:338px;
	width: 100%;
	justify-content: center;
	align-items:center;
	padding:40px;
}
.cloud-text{
	display: flex;
	flex-direction:column;
	align-items:center;
}
.cloud-text h1{
display: flex;
align-items: center;
justify-content: center;
	font-size:50px; 
	font-family: 'lato' ,sans-serif;
	width: 600px;
	font-weight: 100;
	padding:15px;
}
.cloud-text p{
	font-size:20px;
font-family: 'lato' ,sans-serif; 
padding:15px; 
} 
.cloud-text a{
	background-color:#002240;
	color:#fff;
	width:135px;
	height:45.5px; 
	border-radius:5px;
display:flex;
justify-content: center;
align-items: center;
	}
.cloud-text a:hover{
	transform:scale(0.98); 
}
.cloud-img{
width:418.3px;
}
/*docs*/ 
.docs-main{
	background-color:#037aed;
	color:#fff;
	height: 264px;
}
.docs-main-flex{
	display:flex;
	justify-content: space-between;
	align-items: center; 

}
.docs-main-text{
	margin:35px 44px;
	font-family:'lato',sans-serif;
	font-weight: 400;
}
.docs-main-text h1 {
	font-size:55px;

}
.docs-main-text p{ 
margin-top:50px;
	font-size:20px;
}
.docs-main-flex img{
	margin:24px;
	height: 200px;
	width: 200px;
}


                             /*main section Feature*/
.main-1{
	background-color:#047aed;
	height:278px;
}
.flex-m-1{
	display:flex;
	justify-content: space-between;

}
.h-p-1{
	display:block;
	margin-top:50px;
	margin-left: 37px;
	color:#fff;
	font-family: 'lato',sans-serif;
}
.head-1{
	font-size:70px
;
}
.p-1{
	font-size: 20px;
	width: 550px;
	font-weight:600;
	margin-top:70px;

	}

.img-1{
	width: 200px;
	height: 200px;
	margin:33px;
}


.main-2{
background-color:#f4f4f4;
height500px;
}
.flex-m-2{
	display:flex;
	justify-content: space-between;
}
.h-p-2{
	display:block;
	color:#333;
	font-family: 'lato',sans-serif;
	margin:90px 20px;
}
.head-2{
	font-size:40px;
}
.p-2{
	width: 500px;
	margin-top:50px;

}


.img-2{
	width: 300px;
	height: 300px;
	margin: 30px;
}
                                                  /*section-3*/
.section-3{
	display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
color:#green;
grid-column-gap:40px;
grid-row-gap:10px;
height: 544.75px;
margin-top:40px;
}
.item{background-color: #fff; 
	border-radius:10px;
	box-shadow:3px 3px 15px lightgrey;
	padding:30px;}
.g-1{

height: 131px;
grid-column-start:1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2}
.g-2{
height: 156.78px;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
}
.g-3{
height: 156.78px;
grid-column-start:3 ;
grid-column-end:4 ;
grid-row-start: 2;
grid-row-end: 3;
border-radius:10;}
.g-4{
height:156px;
grid-column-start:1 ;
grid-column-end:2 ;
grid-row-start: 3;
grid-row-end: 4;}
.g-5{
height: 156px;
grid-column-start:2 ;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 4;
}
.g-6{
	grid-column-start:3 ;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end:4;
height:156px;}
/*footer*/
.footer{
	background-color:#037;
	color:#fff;
	height:222px;
	display:block;
}
                                   
/*docs*/
.docs-main{
	background-color:#037aed;
	color:#fff;
	height: 264px;
}
.docs-main-flex{
	display:flex;
	justify-content: space-between;
	align-items: center; 

}
.docs-main-text{
	margin:35px 44px;
	font-family:'lato',sans-serif;
	font-weight: 400;
}
.docs-main-text h1 {
	font-size:55px;

}
.docs-main-text p{ 
margin-top:50px;
	font-size:20px;
}
.docs-main-flex img{
	margin:24px;
	height: 200px;
	width: 200px;
}

		